<h2>Edit Pokemon</h2>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <div class = "flex">

    <input type="hidden" name="_method" value="put">

    <div class="flex-item">
      <label for="pokemon[name]">Name:</label>
      <input name="pokemon[name]" value="<%= @pokemon.name %>">
    </div>
    <div class="flex-item">
      <label for="pokemon[cp]">CP:</label>
      <input name="pokemon[cp]" value="<%= @pokemon.cp %>"><br>
    </div>
    <div class="flex-item">
      <label for="pokemon[img_url]">Photo:</label>
      <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>">
    </div>
    <div class = "flex-item">
      <label for="trainer_id">Trainer:</label>
      <select name = "pokemon[trainer_id]">
        <% @trainers.each do |train| %>
        <option value="<%= train.id %>"><%= train.name %></option>
        <% end %>
      </select>
    </div>
    <input class= "button-submit" type="submit" value="Update">
</div>

</form>

<h2>Delete Pokemon</h2>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
