<h2>Edit Pokemon</h2>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="pokemon[name]">Name:</label>
  <input name="pokemon[name]" value="<%= @pokemon.name %>"><br>

  <label for="pokemon[poke_type]">Type:</label>
  <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>"><br>

  <label for="pokemon[cp]">CP:</label>
  <input name="pokemon[cp]" value="<%= @pokemon.cp %>"><br>

  <label for="pokemon[img_url]">Photo:</label>
  <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>"><br><br>


  <input type="submit" value="Update">
</form>

<h2>Delete Pokemon</h2>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>

<div class="footer">
  <a href="/pokemons">Back to All Pokemons</a>
</div>
