

<h2><%= @trainer.name %></h2>
<img src="<%= @trainer.img_url %>" alt="<%= @trainer.name %>" class = "profile_img">
<p><b>Level:</b> <%= @trainer.level %></p>
<p><b>Pokemon:</b></p>
  <ul>
    <% @trainer.pokemons.each do |pokemon| %>
      <li><%= pokemon.name %></li>
    <% end %>
  </ul>


<a href='/trainers/<%= @trainer.id %>/edit'>Edit or Delete This Trainer</a>
